/* src\components\pagination\Pagination.module.css */

.pagination {
  display: flex;
  gap: 8px; /* как в nav */
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.pageButton {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.2s ease;
  border: 1px solid var(--color-border);
  background: var(--color-white);
  font: var(--font-base);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  min-width: 36px;
  cursor: pointer;
}

.pageButton:hover:not(:disabled) {
  background: var(--color-hover);
  color: var(--color-primary);
}

.pageButton:disabled {
  opacity: 0.5;
  cursor: default;
}

.active {
  background: var(--color-primary);
  color: var(--color-white);
}
