/* src\styles\variables.css */

:root {
  /* Цвета */
  --color-primary: #1976d2;
  --color-background: #e4edfc;
  --color-text: #333;
  --color-border: #ddd;
  --color-hover: #e0e7ff;
  --color-error: #d32f2f;
  --color-white: #fff;
  --color-bg_header: #98e3fa;
  --color-bg_tooltip:rgba(12, 127, 243, 0.85);
  --color-bg-liked: #cef0f8;
  --color-highlited: #4f39fa;

  /* Шрифт */
  --main-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  /* Шортки для шрифта */
  --font-h1: 700 24px/1.2 var(--main-font-family);
  --font-h2: 600 18px/1.4 var(--main-font-family);
  --font-base: 400 16px/1.5 var(--main-font-family);
  --font-small: 400 14px/1.5 var(--main-font-family);

  /* Тени */
  --shadow-md: 0 2px 6px rgba(0, 0, 0, 0.1);
}