/* src\components\header\Header.module.css */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f9fc;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  padding: 12px 32px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.nav a:hover {
  background: #e0e7ff;
}

.active {
  background: #1976d2;
  color: #fff;
}




.selectContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 16px; 
  flex-shrink: 0; /* предотвращает сжатие при маленьком экране */
}

.label {
  font-size: 14px;
  color: #333;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 16px; /* расстояние между комбобоксом и счётчиком */
}

.select {
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
}

.countBox {
  font-size: 14px;
  color: #333;
}

.error {
  color: #d32f2f;
}