/* src\index.css */

@import './styles/variables.css';

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  font: var(--font-base);
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--main-font-family);
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: var(--color-hover);
}
